name: Deploy to GitHub Pages

on:
  push:
    branches: ["main", "master"]

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Build
        run: npm run build
        env:
          # GitHub Secrets에 등록된 실제 이름(이미지 참고)을 VITE_ 변수에 할당합니다.
          VITE_FIREBASE_API_KEY: ${{ secrets.APIKEY }}
          VITE_FIREBASE_AUTH_DOMAIN: ${{ secrets.AUTHDOMAIN }}
          VITE_FIREBASE_PROJECT_ID: ${{ secrets.PROJECTID }}
          VITE_FIREBASE_STORAGE_BUCKET: ${{ secrets.STORAGEBUCKET }}
          VITE_FIREBASE_MESSAGING_SENDER_ID: ${{ secrets.MESSAGINGSENDERID }}
          VITE_FIREBASE_APP_ID: ${{ secrets.APPID }}
          VITE_FIREBASE_MEASUREMENT_ID: ${{ secrets.MEASUREMENTID }}

      - name: Setup Pages
        uses: actions/configure-pages@v4

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: './dist'

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4